
	.section-contact {


		background-color: $blue;
		padding: 0 0 46px 0;

		.contact-container {
			position: relative;
			z-index: 10;
			//background: #fff;
			width: 100%;
			margin: 0 auto;
		}

		.contact-conainer::after {
			content: '';
			display: table;
			clear: both;
		}

		.contact-left {
			position: relative;
			height: 100%;
			//background: #ff0000;
			float: left;
			width: 100%;
		}
		.contact-right {
			position: relative;
			float: left;
			width: 100%;
		}


		.form {
			padding: 0 46px;
			//background: #555;
			//height: 800px;
		}

		.form-logo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 200px;
			width: 200px;
			background: #000;
		}

	}

	.submit-error {
		background: red;
		padding: 5px;
		color: #fff;
		text-align: left;
		opacity: 0;
		transition: opacity 0.5s;
	}

	.submit-error.on {
		opacity: 100;
	}

	.input-error, .input-error-select {
		border: 1px solid red !important;
	}

	.form-header {
		font-size: 18px;
	}

	.container-form {

		max-width: 700px;
		margin: 80px auto;

	}

	.form-group-large {
		width: 100%;
		display: block;
		font-size: 12px;
		line-height: 12px;
	}
	.form-group-large:after {
		clear: both;
		content: ' ';
		display: inline-table;
	}

		.form-group-large .label {
			width: 100%;
			float: left;
		}
		.form-group-large .input {
			width: 100%;
			float: left;
		}

	.form-group-small {
		width: 100%;
		display: block;
		font-size: 12px;
		line-height: 12px;
	}
	.form-group-small:after {
		clear: both;
		content: ' ';
		display: inline-table;
	}

		.form-group-small .label {
			width: 100%;
			float: left;
		}
		.form-group-small .input {
			width: 100%;
			float: left;
		}

	.form-section-small {
		margin-top: 15px;
	}

	.input input, .input select {
		width: 100%;
		outline: 0;
		font-family: $cabin;
		color: #fff;
		border: 1px solid #fff;
		background: none;
	}

	.input input.input-large {
		padding: 5px;
		font-size: 16px;
		letter-spacing: 2px;
	}

	.input .input-small {
		padding: 5px;
		font-size: 16px;
		border-radius: 6px;
		letter-spacing: 2px;
	}

	.input .input-small-type-text {
		padding: 2px 2px 2px 10px;
		font-size: 16px;
		border-radius: 5px;
		letter-spacing: 2px;
	}

	.label {
		text-align: left;
		word-wrap: break-word;
		white-space: normal !important;
	}
	.label label {
		font-family: $cabin;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 1px;
	}


	.input-radio {

		outline: 0;
		font-family: $cabin;
		color: #fff;
		font-size: 14px;
		/* padding: 10px 0 0 0; */

	}


	.form-section-submit {
		margin-top: 20px;
		text-align: right;
	}

	button.submit {
		padding: 10px;
		background: #fff;
		border: none;
		outline: 0;
		display: block;
		width: 100%;
	}

	button.submit .submit-inner {
		background: #fff;
		border: 2px solid $blue;
		color: $blue;
		font-family: $acta;
		text-transform: uppercase;
		font-size: 25px;
		letter-spacing: 5px;
		padding: 10px;
		display: block;
	}

	.register-button {
		background: $blue;
		font-family: $cabin;
		text-transform: uppercase;
		outline: 0;
		padding: 5px 30px;
		color: #fff;
		border: none;
		display: inline-block;
		font-size: 14px;
		margin: 15px auto;
		text-decoration: none;

	}

	.register-button:hover, .register-button:visited { color: #fff; text-decoration: none; }

	.form-section-disclaimer {
		font-size: 12px;
		margin: 80px 40px 0;
		text-align: center;
		color: $blue;
		font-family: $cabin;
	}

	.form-section-required {

		text-align: right;
		color: #fff;
		font-family: $cabin;
		font-style: italic;

	}

	input[type='radio'] {
		opacity: 0;
		cursor: pointer;

	}
	input[type='radio'] + label {
		cursor: pointer;
		background: url('../img/radio_unchecked_large.png') left center no-repeat;
		background-size: 15px 15px;
		padding: 5px 0 4px 35px;
		margin: 0;
		clear: none;
	}
	input[type='radio']:checked + label {
    	background: url('../img/radio_checked_large.png') left center no-repeat;
    	background-size: 15px 15px;
    	cursor: pointer;
	}

	.legal {
		font-family: $cabin;
		text-align: left;
		font-size: 12px;
		line-height: 12px;
		color: #fff;
	}

	.footer-logo {
		width: 200px;
		display: block;
		//background: #888;
		margin: 100px auto 0 auto;
	}

	h2 {
		color: #fff;
		font-family: $acta;
		font-size: 24px;
		line-height: 24px;
		letter-spacing: 2px;
		margin-bottom: 50px;
		margin-top: 50px;
		text-align: center;
	}




@media (min-width:992px) {

	.section-contact {


		background-color: $blue;
		padding: 0 0 46px 0;

		.contact-container {
			position: relative;
			z-index: 10;
			//background: #fff;
			width: 100%;
			margin: 0 auto;
		}

		.contact-conainer::after {
			content: '';
			display: table;
			clear: both;
		}

		.contact-left {
			position: relative;
			height: 100%;
			//background: #ff0000;
			float: left;
			width: 100%;
		}
		.contact-right {
			position: relative;
			float: left;
			width: 100%;
		}


		.form {
			padding: 0 70px;
			//background: #555;
			//height: 800px;
		}

		.form-logo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 200px;
			width: 200px;
			background: #000;
		}

	}


	.form-header {
		font-size: 18px;
	}

	.container-form {

		max-width: 700px;
		margin: 80px auto;

	}

	.form-group-large {
		width: 100%;
		display: block;
		font-size: 12px;
		line-height: 12px;
	}
	.form-group-large:after {
		clear: both;
		content: ' ';
		display: inline-table;
	}

		.form-group-large .label {
			width: 30%;
			float: left;
		}
		.form-group-large .input {
			width: 70%;
			float: left;
		}

	.form-group-small {
		width: 100%;
		display: block;
		font-size: 12px;
		line-height: 12px;
	}
	.form-group-small:after {
		clear: both;
		content: ' ';
		display: inline-table;
	}

		.form-group-small .label {
			width: 70%;
			float: left;
		}
		.form-group-small .input {
			width: 30%;
			float: left;
		}

	.form-section-small {
		margin-top: 15px;
	}

	.input input, .input select {
		width: 100%;
		outline: 0;
		font-family: $cabin;
		color: #fff;
		border: 1px solid #fff;
		background: none; 
	}

	.input input.input-large {
		padding: 5px;
		font-size: 16px;
	}

	.input .input-small {
		padding: 5px;
		font-size: 16px;
		border-radius: 6px;
	}

	.label {
		text-align: left;
		word-wrap: break-word;
		white-space: normal !important;
	}
	.label label {
		font-family: $cabin;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		font-weight: 100;
		text-transform: uppercase;
	}


	.input-radio {

		outline: 0;
		font-family: $cabin;
		color: #fff;
		font-size: 14px;
		/* padding: 10px 0 0 0; */

	}


	.form-section-submit {
		margin-top: 20px;
		text-align: right;
	}

	button.submit {
		padding: 10px;
		background: #fff;
		border: none;
		outline: 0;
		display: block;
		width: 100%;
	}

	button.submit .submit-inner {
		background: #fff;
		border: 2px solid $blue;
		color: $blue;
		font-family: $acta;
		text-transform: uppercase;
		font-size: 25px;
		letter-spacing: 5px;
		padding: 10px;
		display: block;
	}

	.register-button {
		background: $blue;
		font-family: $cabin;
		text-transform: uppercase;
		outline: 0;
		padding: 5px 30px;
		color: #fff;
		border: none;
		display: inline-block;
		font-size: 14px;
		margin: 15px auto;
		text-decoration: none;

	}

	.register-button:hover, .register-button:visited { color: #fff; text-decoration: none; }

	.form-section-disclaimer {
		font-size: 12px;
		margin: 80px 40px 0;
		text-align: center;
		color: $blue;
		font-family: $cabin;
	}

	.form-section-required {

		text-align: right;
		color: #fff;
		font-family: $cabin;
		font-style: italic;

	}

	input[type='radio'] {
		opacity: 0;
		cursor: pointer;

	}
	input[type='radio'] + label {
		cursor: pointer;
		background: url('../img/radio_unchecked_large.png') left center no-repeat;
		background-size: 15px 15px;
		padding: 5px 0 4px 35px;
		margin: 0;
		clear: none;
	}
	input[type='radio']:checked + label {
    	background: url('../img/radio_checked_large.png') left center no-repeat;
    	background-size: 15px 15px;
    	cursor: pointer;
	}

}



@media (min-width:1200px) {

	.section-contact {
		padding: 100px 0 70px 0;

		h2 {
			text-align: left;
		}

		.form {
			padding: 0 70px;
		}

		.contact-container {
			width: 1160px;
			margin: 0 auto;
		}

		.contact-left {
			width: 30%;
		}

		.contact-right {
			width: 70%;
		}
	}

	.footer-logo {
		width: 300px;
		display: block;
		//background: #888;
		margin: 250px auto 0 auto;
	}

}

@media (min-width:1500px) {

	.section-contact {
		padding: 100px 0 46px 0;

		.form {
			padding: 0 70px;
		}

		.contact-container {
			width: 1460px;
			margin: 0 auto;
		}

		.contact-left {
			width: 30%;
		}

		.contact-right {
			width: 70%;
		}
	}

	.footer-logo {
		width: 300px;
		display: block;
		//background: #888;
		margin: 250px 0 0 25px;
	}

}

