/*
*
*	Mobile Screen Definitions
*
*/
	footer {
		position: relative;
		z-index: 10;
		margin: 100px 21px 0 21px;
		border-top: 1px solid #fff;
		padding: 30px;
		color: #fff;
		text-align: center;

		.meta  { float: none; }
		.links { float: none; }

		.email {
			a{
				font-family: $acta;
				font-weight: normal;
				font-size: 12px;
				letter-spacing: 2px;
				font-weight: normal;
				margin-bottom: 8px;
				text-decoration: none;
				color: #fff
			}
			a:hover {
				text-decoration: none;
				color: #fff;
			}
		}
		.phone {
			font-family: $acta;
			font-weight: normal;
			font-size: 25px;
			line-height: 25px;
			letter-spacing: 2px;
			font-weight: normal;
		}

		.address {
			font-family: $cabin;
			font-weight: normal;
			font-size: 12px;
			letter-spacing: 2px;
			font-weight: normal;
			text-transform: uppercase;
		}

		.disclaimer {
			margin-top: 10px;
			font-family: $cabin;
			font-size: 8px;
			font-weight: normal;
		}

		.links a {
			display: block;
			width: 90px;
			float: right;
			margin-top: 50px;
			 img {
			 	max-width: 100%;
			 }
		}
	}



/*
*
*	Large Screen Definitions
*
*/
@media (min-width:992px) {


	footer {
		position: relative;
		z-index: 10;
		margin: 100px 46px 0 46px;
		border-top: 1px solid #fff;
		padding: 30px;
		color: #fff;
		text-align: left;

		.meta  { float: left; }
		.links { float: right; }

		.email {
			font-family: $acta;
			font-weight: normal;
			font-size: 18px;
			letter-spacing: 2px;
			font-weight: normal;
			margin-bottom: 8px;
		}
		.phone {
			font-family: $acta;
			font-weight: normal;
			font-size: 50px;
			line-height: 50px;
			letter-spacing: 2px;
			font-weight: normal;
		}

		.address {
			font-family: $cabin;
			font-weight: normal;
			font-size: 18px;
			letter-spacing: 2px;
			font-weight: normal;
			text-transform: uppercase;
		}

		.disclaimer {
			margin-top: 30px;
			font-family: $cabin;
			font-size: 8px;
			font-weight: normal;
		}

		.links a {
			display: block;
			width: 150px;
			float: left;
			margin-top: 0;
			 img {
			 	max-width: 100%;
			 }
		}
	}
}