/**
*
*	Bishop Site Header
*
*/


/*
*
*	Mobile Screen Definitions
*
*/
.header-container {

	position: absolute;
	left: 40px; right: 40px; bottom: 30px;
	z-index: 10;
	text-transform: uppercase;
	color: #fff;

	text-align: center;

	span {
		font-family: $cabin;
		font-size: 10px;
		line-height: 18px;
		letter-spacing: 2px;
	}

	h1 {
		margin-top: 40px;
		font-family: $acta;
		font-weight: bold;
		font-size: 25px;
		letter-spacing: 10px;
		line-height: 32px;
	}
}

.logo-container {
	position: absolute;
	top: 70px; left: 30px; right: 30px;
	z-index: 10;
	img {
		max-width: 200px;
		display: block;
		margin: 0 auto;
	}
}

.logo-icon-container {

	opacity: 0; // Hidden for mobile
	transition: opacity 0.2s; // Fade it in and out

	position: absolute;
	top: 80px; right: 80px;
	z-index: 10;

	img {
		max-width: 110px;
		margin-bottom: 15px;
	}

	a {
		display: block;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 3px;
		margin: 10px 0 0 0;
	}

	a:hover {
		text-decoration: none;
	}
}

.scroll-container {

	opacity: 0; // Hidden for mobile
	transition: opacity 0.5s; // Fade it in and out

	position: absolute;
	bottom: 100px; right: 110px;
	z-index: 10;

	a {
		display: block;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 3px;
		margin: 10px 0 0 0;
		line-height: 10px;
		.icon {
			font-size: 40px;
		}
	}

	a:hover {
		text-decoration: none;
	}
}



/*
*
*	Large Screen Definitions
*
*/
@media (min-width:992px) {


	.header-container {
		left: 80px; bottom: 60px;

		text-align: left;

		span {
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 4px;
		}
		h1 {
			font-size: 100px;
			letter-spacing: 20px;
			line-height: 100px;
		}
	}

	.logo-container {
		top: 105px; left: 80px;
		img {
			max-width: 240px;
			margin: 0;
		}
	}

	.logo-icon-container { opacity: 100; text-align: center; }
	.scroll-container    { opacity: 100; }


} //@media
