/**
*
*	Bishop Site Scaffolding
*
*/

body,html { height: 100%; }
//.snap { position: relative; height: 100%; }

section { position: relative; z-index: 1; overflow: hidden;}
.section-top     { background-color: $blue; }
.section-flowers { background: url(../img/optimized/bishop_flowers.jpg) no-repeat center center; }
.section-horse   { background: url(../img/optimized/bishop_southlands2.jpg) no-repeat center top; }
.section-food    { background: url(../img/optimized/bishop_dinnerparty.jpg) no-repeat center center; }
.section-trees   { background: url(../img/optimized/bishop_cherrytrees.jpg) no-repeat center center; }
.section-fullscreen { height: 100%; background-size: cover; }
//** .section-contact is in ./contact.scss **//

// Section Borders
section::after,
section::before { content: ''; position: absolute; z-index: 2; }

section::after  { border: 2px solid white; }
section::before { border: 1px solid white; }
//End Section Borders


/*
*
*	Mobile Screen Definitions
*
*/

// Section Borders
section::after  { top: 15px; right: 15px; bottom: 15px; left: 15px; }
section::before { top: 21px; right: 21px; bottom: 21px; left: 21px; }
// End Section Borders


// Fullscreen Section Content

.section-content-container {
	position: absolute;
	z-index: 10;
	top: 50%; left: 50%;
	transform: translate( -50% , -50% );
	max-width: 740px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: $cabin;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 34px;
	img {
		max-width: 225px;
		margin: 0 auto;
	}

}


// End Fullscreen Section Content

#current-media-width {
	width: 0;
	display: none;
}

/*
*
*	Large Screen Definitions
*
*/
@media (min-width:992px) {

	#current-media-width {
		width: 992px;
		display: none;
	}

	// Section Borders
	section::after  { top: 40px; right: 40px; bottom: 40px; left: 40px; }
	section::before { top: 46px; right: 46px; bottom: 46px; left: 46px; }
	// End Section Borders


	// Fullscreen Section Content
	.section-content-container {
		font-size: 30px;
		letter-spacing: 3px;
		line-height: 70px;
	}
	// End Fullscreen Section Content

} // End @media min-width:992px;