@font-face {
	font-family: 'ActaDisplay';
	src: url('../fonts/acta/acta-display-book.woff') format('woff'),
	     url('../fonts/acta/acta-display-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ActaDisplay';
	src: url('../fonts/acta/acta-display-bold.woff') format('woff'),
	     url('../fonts/acta/acta-display-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cabin';
	src: url('../fonts/cabin-regular.woff') format('woff'),
	     url('../fonts/cabin-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/gotham-book.woff') format('woff'),
	     url('../fonts/gotham-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


$acta: ActaDisplay;
$cabin: Cabin;
$gotham: Gotham;